body {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

#navbar {
    grid-column: 1;
    grid-row: 1;
}

#footer {
    grid-column: 1;
    grid-row: 3;
}

#calendar {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
}

#calheader {
    width: 100%;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}

#calheader i:hover {
    color: gray;
    cursor: pointer;
}

#monthyear {
    font-size: 25px;
}

#current {
    width: auto;
    font-size: 17.5px;
}

#current:hover {
    color: gray;
    cursor: pointer;
}

#weekdays {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#weekdays div {
    font-size: 20px;
    grid-column:auto;
    text-align: center;
}

#weekday {
    width: 100%;
    height: 40 px;
    text-align: center;
    font-size: 20px;
}

#day {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#days {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

}

#days div {
    font-size: 18px;
    border: 1px solid black;
}

#days span {
    margin-left: 5%;
}

.othermonth {
    background-color: lightgray;
    color: gray;
}

.addevent {
    position: fixed;
    background: #0FACF3;
    line-height: 60px;
    bottom: 12%;
    right: 2%;
    text-align: justify;
    cursor: pointer;
}

@media only screen and (min-width: 851px) {
    .shortname {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .fullname {
        display: none;
    }
}