body {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

#navbar {
    grid-column: 1;
    grid-row: 1;
}

#footer {
    grid-column: 1;
    grid-row: 3;
}

#calendar {
    overflow-y: auto;
    grid-column: 1;
    grid-row: 2;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
}

#calheader {
    width: 100%;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}

#calheader i:hover {
    color: gray;
    cursor: pointer;
}

#monthyear {
    font-size: 25px;
}

#current {
    width: auto;
    font-size: 17.5px;
}

#current:hover {
    color: gray;
    cursor: pointer;
}

#weekdays {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#weekdays div {
    font-size: 20px;
    grid-column: auto;
    text-align: center;
}

#weekday {
    width: 100%;
    height: 40 px;
    text-align: center;
    font-size: 20px;
}

#day {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.time {
    grid-column: 1 / span 1;
    min-height: 60px;
}

#day div {
    font-size: 14px;
}

#days {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    min-height: 0;
    min-width: 0;

}

.mvdays {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    border: 1px solid black;
    min-height: 0;
    min-width: 0;
}

.wvdays {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    overflow: hidden;
    border: 1px solid black;
    min-height: 0;
    min-width: 0;
}

#days span {
    font-size: 18px;
    margin-left: 5%;
}

.othermonth {
    background-color: lightgray;
    color: gray;
}

.addevent {
    height: 40px;
    position: fixed;
    bottom: 12%;
    right: 5%;
    border-radius: 20px;
}

.event {
    overflow: hidden;
    background-color: #70a0bb;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid black;
}

@media only screen and (min-width: 851px) {
    .shortname {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .fullname {
        display: none;
    }
}