body {
    overflow-y: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

#navbar {
    grid-column: 1;
    grid-row: 1;
}

#footer {
    grid-column: 1;
    grid-row: 3;
}

#content {
    overflow-y: scroll;
    grid-column: 1;
    grid-row: 2;
    position: relative;
    width: 100%;
    height: 100%;
}

.login-grid {
    display: grid;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    align-items: center;
}

h1 {
    text-align: center;
}

/* Notification styling*/
.notificationIcon-38 {
    font-size: 38px;
}

#notifIcon:hover {
    color: rgb(88, 88, 88);
    cursor: pointer;
}


/* Remove margins and padding from the list */
.notifList ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
.notifList ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.notifList ul li:nth-child(even) {
    background: #e7e7e7;
}

/* Darker background-color on hover */
.notifList ul li:hover{
    background: #ddd;

}


.offcanvas-body-padding-0 {
    margin: 0;
    padding: 0;
}

.notifList ul li ul {
    margin-top: 5%;
}


/* Style the close button */
.notifClose {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .notifClose:hover {
    background-color: #f44336;
    color: white;
  }
